body {
    display: flex;
    width: 100%;
    margin: 0;
    background-color: rgb(216, 216, 216);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background:rgb(0, 0, 0);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: auto;
}

.dropdownmenu{ /*Pour le menu entier*/
    display: block;
    width: 500px;
    align-items: center;
}

.dropdownmenu ul{ /*Pour les sous menus*/
    margin: auto;
    position: relative;
    padding-left: 0;
}

.dropdownmenu a,
.dropdownmenu li{ /*Pour les titres du menu*/
    padding: 10px;
    margin: 0;
    text-align: center;
    position: relative;
    list-style-type: none;
    text-decoration: none;
}

.dropdownmenu li:hover ul {/*Survolage du menu*/
    position: relative;
    top: 36px;
    z-index: 100; 
}

/* Gestion des couleurs */ 
.dropdownmenu li { 
    background-color: rgb(0, 0, 0); /* Couleur d'arriere-plan du menu */ 
}
.dropdownmenu li a {
    color: rgb(255, 255, 255); /* Couleur du texte du menu */
} 
.dropdownmenu li:hover {
    background-color:rgb(45, 166, 214); /* Couleur d'arriere-plan du menu au survol */ }
.dropdownmenu li:hover a {
    color: rgb(255, 255, 255); /* Couleur du texte du menu au survol */ 
}
.dropdownmenu ul li {
    background-color: rgb(0, 0, 0); /* Couleur d'arriere-plan des sous-menu */
}
.dropdownmenu ul li:hover {
    background-color: rgb(45, 166, 214); /* Couleur d'arriere-plan des sous-menu au survol */ 
} 
.dropdownmenu ul li a {
    color: rgb(255, 255, 255); /* Couleur du texte des sous-menu */ 
} 
.dropdownmenu ul li:hover a { 
    color: rgb(255, 255, 255); /* Couleur du texte des sous-menu au survol */
}

a{
    display: block;
    width: auto;
    height: 30px;
    font-size: 20px;
    line-height: 25px;

}

li{
    width: auto;
}

h1{
    padding-top: 5%;
    text-align: left;
}

.pagedaccueil{
    margin-left: 0%;

}

#profil {
    padding: 0;
    padding-bottom: 38%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: left;
    border: 2px solid black;
}

#contact{
    padding: 4%;
    padding-right: 5%;
    padding-left: 5%;
    background-color:rgb(45, 166, 214);
    /* align-items: flex-end; */
    text-align: left;
}

#picturefirstpage img{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 30%;
    margin-right: 30%;
}

#bigpicturefirstpage{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

#picturecontactpage{
    width: 300px;
    height: 200px;
    text-align: center;
}

#experienceformation{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#experience{

    width: 1000px;
    height: 500px;
    padding: 10px;
    border-color: black;
    border: 2px solid;
    text-align: left;
}

#formation{
    width: 1000px;
    height: 500px;
    padding: 10px;
    border-color: black;
    border: 2px solid;
    text-align: left;
}

#competence{
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 10px;
    border-color: black;
    border: 2px solid;
    text-align: left;
}

.logocontact{
    display: flex;
    justify-content: space-between
}

#logolinkedin{
    margin-left: 35%;

}

#logogmail{
    margin-right: 35%;
    margin-bottom: 40%;
}

#logocompetence{

}

#logo_htmlcss{
}

#logo_java{

}

#logo_python{

}

#logo_github{

}

#langue{

}

#centredinteret{

}

.infoperso{
    margin:auto;
}

#descriptif{
    width: 500px;
    height: 200px;
    padding: 10px;
    border-color: red;
    border: 2px solid;
    text-align: left;
}

.formulaire{
    margin: auto;
    text-align: center;
}

.buttonbig{

}

#remerciement{

}
